
@model IEnumerable<GameStore.Models.DTO.Friends>

@using GameStore.Models.DTO

@using GameStore.Models
@{
    KHACHHANG kh = (KHACHHANG)Session["KhachHang"];
    UserInfo userinfo = new UserInfo();
    if (kh != null)
    {
       userinfo = new UserInfo(kh);
    }


}


<head>
    <!-- Thêm thư viện Google Sign-In API -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
    <style>
        .swal2-popup {
            display: grid;
            background-color: white;
            border: none;
            border-radius: 10px;
            padding: 20px;
            max-width: 400px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            font-family: Arial, sans-serif;
        }

        .swal2-close {
            display: none;
        }

        .swal2-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

            .swal2-icon svg {
                width: 80px;
                height: 80px;
            }

        .swal2-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .swal2-html-container {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .swal2-confirm {
            background-color: #3085d6;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

            .swal2-confirm:hover {
                background-color: #2868c7;
            }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <meta charset="utf-8">
</head>
<div id="g_id_onload"
     data-client_id="630394691103-h9bopucc6dh3vplm4bk4q4l40an70u89.apps.googleusercontent.com"
     data-callback="handleCredentialResponse" data-login_uri="https://www.example.com/your_login_endpoint"
     hidden>
</div>


<script>

    function login() {
        Swal.fire({
            icon: 'success',
            title: 'Success !!!',
            html: 'Logged in successfully!',
            showCloseButton: true,
            showConfirmButton: true,
            confirmButtonText: 'OK',
        }).then(function (result) {
            if (result.isConfirmed) {
                var currentPosition = window.scrollY;
                window.location.reload();
                window.scrollTo(0, currentPosition);
            }
        });
    }

    function handleCredentialResponse(googleUser) {
        if (googleUser.credential) {
            var idToken = googleUser.credential;
            var payload = idToken.split('.')[1];
            var decodedPayload = decodeURIComponent(escape(atob(payload)));
            var userInfo = JSON.parse(decodedPayload);

            var name = userInfo.name;
            $("#modalLogin").modal("hide");
            $(".modal-backdrop").hide();

            var str = userInfo.email + "|" + name;
            $.ajax({
                url: '/Account/CheckLoginSocialAccount',
                type: 'post',
                data: {
                    strs: str
                },
                success: function (data) {
                    if (data.code == 200) {

                        login();

                    }
                    else {
                        alert(data.msg);
                    }
                }
            })
        }
    }

    // Comments
    $(document).ready(function () {
        var isModalOpen = false; // Biến cờ để theo dõi trạng thái modal

        // Hiển thị hoặc đóng modal khi click vào biểu tượng
        $('.fa-comments').click(function (event) {
            if (isModalOpen) {
                $('#modalMesseger').fadeOut();
            } else {
                $('#modalMesseger').fadeIn();
            }
            isModalOpen = !isModalOpen; // Đảo trạng thái của biến cờ
        });

        // Đóng modal khi click vào nút close
        $('.closeFriend').click(function () {
            $('#modalMesseger').fadeOut();
            isModalOpen = false; // Đặt biến cờ thành false khi modal được đóng
        });
    });
    // end comment

</script>

<style>
    .nk-social-links-2 > li > * {
        width: 40px;
        height: 38px;
        margin: 3px 5px;
        font-size: 1.1em;
        line-height: 26px;
        background-color: #fff;
        border-radius: 19px;
    }

    .nk-social-links-2 > li > a > svg {
        margin-top: 12px;
        font-size: 19px;
    }

    .g_id_signin {
        /* Tùy chỉnh các thuộc tính phù hợp với thiết kế của bạn */
        width: 26px;
        height: 26px;
        margin: 3px 5px;
        font-size: 1.1em;
        line-height: 26px;
        background-color: #fff;
        border-radius: 13px;
        overflow: hidden;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }

            .dropdown-menu > li > a:hover,
            .dropdown-menu > li > a:focus {
                text-decoration: none;
                color: #262626;
                background-color: #f5f5f5;
            }

    /* Style thong bao*/

    /*     CSS styles for modal container */
    .modal-containerFriend {
        position: fixed;
        top: 65px;
        right: 0;
        bottom: 0;
        width: 370px;
        background-color: #171A21;
        z-index: 100000;
        display: none;
        box-shadow: 0 0 5px rgba(120, 113, 113, 0.5);
    }

    .modal-contentFriend {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #171A21;
        padding: 20px;
        border-radius: 5px;
        width: 100%;
        float: left;
    }

    .closeFriend {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        font-size: 30px;
        color: #888;
    }

        .closeFriend .ion-android-close {
            vertical-align: middle;
        }

        .closeFriend:hover {
            color: #ccc;
        }

    .top {
        border-bottom: 1px solid #f70f36;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 15px;
        color: #1877f2;
        text-align: center;
        margin-right: 10px;
    }

    .search-barFriend {
        background-color: #e4ede6;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 5px;
    }

        .search-barFriend input[type="text"] {
            border: none;
            flex: 1;
            padding: 5px;
            font-size: 17px;
        }

            .search-barFriend input[type="text"]:focus {
                outline: none;
            }

        .search-barFriend a {
            padding: 5px 10px;
            background-color: #e4e6eb;
            border: none;
            border-radius: 3px;
            margin-left: 10px;
            text-decoration: none;
        }


    .bottom {
        margin-top: 10px;
    }

    .friend-list {
        display: flex;
        justify-content: space-between;
    }

    .friend-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }

        .friend-avatar img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .friend-details {
        flex: 1;
        display: inline-flex;
        align-items: center;
        position: relative;
    }

        .friend-details h4 {
            margin: 0;
            color: #e4ede6;
            font-size: 15px;
            flex: 1;
            white-space: nowrap; /* Tránh ngắt dòng */
            overflow: hidden; /* Ẩn nội dung vượt quá chiều ngang */
            text-overflow: ellipsis; /* Hiển thị dấu chấm (...) cho nội dung bị ẩn */
        }

    .messenger-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #613b41;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        position: absolute; /* Thêm thuộc tính position */
        right: 15px;
    }

        .messenger-button:hover {
            background-color: #452a2e;
            text-decoration: none;
        }
</style>

@Html.Action("ModalChat", "TrangChu");

@*Modal ListFriend*@
<div class="modal-containerFriend" id="modalMesseger">
    <div class="modal-contentFriend">
        <button type="button" class="closeFriend" data-dismiss="modal" aria-label="Close">
            <span class="ion-android-close"></span>
        </button>
        <div class="top">
            <h2><span class="text-main-1">Friend</span> Lists</h2>
            <div class="search-barFriend">
                <input type="text" placeholder="Tìm kiếm...">
                <a href="@Url.Action("Index","AddFriend")"><i style="color: #613b41" class="fa-solid fa-user-plus"></i></a>
            </div>
        </div>
        <div class="bottom">
            @if (Model != null)
            {
                <div class="friend-list">
                    <ul style="list-style: none; padding: inherit;">
                        @foreach (var i in Model)
                        {
                            <li class="friend-item" id="@i.Id_banbe" style="display: flex; color: #f0f2f5; margin-bottom: 15px;">
                                <div class="friend-avatar">
                                    <img src="~/Theme/images/gallery-8-thumb.jpg" alt="@i.Tenbanbe">
                                </div>
                                <div class="friend-details">
                                    <h4>@i.Tenbanbe</h4>
                                </div>
                                <div>
                                    <a href="#" class="messenger-button">Messenger</a>
                                </div>

                            </li>

                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>

@*end Modal thong bao*@



<style>
    #xemthongbao {
        display: none;
        position: absolute;
        top: 100%;
        left: 10%;
        width: 100%;
        background-color: #232930;
        z-index: 9999;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Độ bóng */
        border-radius: 10px;
    }

    #mothongbao::after {
        display: block;
        content: "";
        position: absolute;
        height: 10px;
        left: 117px;
        width: 16%;
    }

    #mothongbao:hover .modal-bodyy {
        display: block;
    }

    #xemthongbao img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 50%;
        order: -1; /* Đặt thứ tự hiển thị đầu tiên */
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Độ bóng */
    }

    #xemthongbao h6 {
        color: white;
        margin-right: 15px; /* Chỉnh lại margin-right */
        margin-top: 15px;
        flex-grow: 1; /* Chiếm phần còn lại của không gian */
    }

    #xemthongbao button {
        margin-right: 5px; /* Chỉnh lại margin-right */
    }

    #xemthongbao .divcon {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        justify-content: flex-end; /* Đổi thành justify-content: flex-end */
    }

    .modal-bodyy {
        display: none;
    }
</style>


<header class="nk-header nk-header-opaque">
    <!-- START: Top Contacts -->
    <div class="nk-contacts-top">
        <div class="container">
            <div class="nk-contacts-left">
                <ul class="nk-social-links">
                    <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>
                    <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
                    <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
                    <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                    <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
                    <li><a class="nk-social-twitter" href="#" target="_blank"><span class="fab fa-twitter"></span></a></li>
                    <li><a class="nk-social-pinterest" href="#"><span class="fab fa-pinterest-p"></span></a></li>

                    <!-- Additional Social Buttons
                        <li><a class="nk-social-behance" href="#"><span class="fab fa-behance"></span></a></li>
                        <li><a class="nk-social-bitbucket" href="#"><span class="fab fa-bitbucket"></span></a></li>
                        <li><a class="nk-social-dropbox" href="#"><span class="fab fa-dropbox"></span></a></li>
                        <li><a class="nk-social-dribbble" href="#"><span class="fab fa-dribbble"></span></a></li>
                        <li><a class="nk-social-deviantart" href="#"><span class="fab fa-deviantart"></span></a></li>
                        <li><a class="nk-social-flickr" href="#"><span class="fab fa-flickr"></span></a></li>
                        <li><a class="nk-social-foursquare" href="#"><span class="fab fa-foursquare"></span></a></li>
                        <li><a class="nk-social-github" href="#"><span class="fab fa-github"></span></a></li>
                        <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a class="nk-social-linkedin" href="#"><span class="fab fa-linkedin"></span></a></li>
                        <li><a class="nk-social-medium" href="#"><span class="fab fa-medium"></span></a></li>
                        <li><a class="nk-social-odnoklassniki" href="#"><span class="fab fa-odnoklassniki"></span></a></li>
                        <li><a class="nk-social-paypal" href="#"><span class="fab fa-paypal"></span></a></li>
                        <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>
                        <li><a class="nk-social-skype" href="#"><span class="fab fa-skype"></span></a></li>
                        <li><a class="nk-social-soundcloud" href="#"><span class="fab fa-soundcloud"></span></a></li>
                        <li><a class="nk-social-slack" href="#"><span class="fab fa-slack"></span></a></li>
                        <li><a class="nk-social-tumblr" href="#"><span class="fab fa-tumblr"></span></a></li>
                        <li><a class="nk-social-vimeo" href="#"><span class="fab fa-vimeo"></span></a></li>
                        <li><a class="nk-social-vk" href="#"><span class="fab fa-vk"></span></a></li>
                        <li><a class="nk-social-wordpress" href="#"><span class="fab fa-wordpress"></span></a></li>
                        <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
                    -->
                </ul>
            </div>
            <div class="nk-contacts-right">
                <ul class="nk-contacts-icons">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#modalSearch">
                            <span class="fa fa-search"></span>
                        </a>
                    </li>
                    @if (kh != null)
                    {
                        <li>
                            <a href="#" data-toggle="modal" data-target="#modalFriend">
                                <span class="fas fa-comments"></span>
                            </a>
                        </li>
                        <li id="mothongbao" class="notification-li">
                            <a href="#">
                                <span class="fa fa-bell"></span>
                                <span class="nk-badge">!</span>
                            </a>
                            @Html.Action("AccessAddFriend", "TrangChu")
                        </li>
                    }


                <li>
                    @if (@kh != null)
                    {
                        <span class="nk-cart-toggle">
                            <span class="fa fa-shopping-cart"></span>
                            <span class="nk-badge">@userinfo.listGames.Count</span>
                        </span>

                    }

                    <div class="nk-cart-dropdown">
                        @{
                            if (@kh != null)
                            {

                                foreach (var item in @userinfo.listGames)
                                {
                                    <div class="nk-widget-post">
                                        <a href="@Url.Action("GameDetail", "Store", new { id = item.Id })" class="nk-post-image">
                                            <img src="~/Theme/images/ImageResource/@item.ImgName" alt="@item.Name" style=" width: 90px; height: 90px; object-fit: fill;">
                                        </a>
                                        <h3 class="nk-post-title">
                                            <a href="@Url.Action("RemoveToCart", "StoreCart", new { gameId = item.Id,url = Request.Url.ToString()})" class="nk-cart-remove-item"><span class="ion-android-close"></span></a>
                                            <a href="@Url.Action("GameDetail", "Store", new { id = item.Id })">@item.Name</a>
                                        </h3>
                                        <div class="nk-product-price">@item.PriceGame .00 $</div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="nk-widget-post">

                                </div>

                            }

                        }



                        <div class="nk-gap-2"></div>
                        <div class="text-center">
                            <a href="@Url.Action("StoreCart","StoreCart")" class="nk-btn nk-btn-rounded nk-btn-color-main-1 nk-btn-hover-color-white">Proceed to Checkout</a>
                        </div>
                    </div>
                </li>
                    @if (kh == null)
                    {
                        <li>
                            <a href="#" data-toggle="modal" data-target="#modalLogin">
                                <span class="fa fa-user"></span>
                            </a>
                        </li>

                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span id="name">@kh.HoTen</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("DetailInfo","Account")">Thông tin người dùng</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Logout","Account")">Đăng xuất</a>
                                </li>
                            </ul>
                        </li>

                    }



                </ul>
            </div>
        </div>
    </div>
    <!-- END: Top Contacts -->
    <!--
        START: Navbar

        Additional Classes:
            .nk-navbar-sticky
            .nk-navbar-transparent
            .nk-navbar-autohide
    -->
    <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
        <div class="container">
            <div class="nk-nav-table">

                <a href="@Url.Action("TrangChu","TrangChu")" class="nk-nav-logo">
                    <img src="~/Theme/images/logo.png" alt="GoodGames" width="199">
                </a>

                <ul class="nk-nav nk-nav-right d-none d-lg-table-cell" data-nav-mobile="#nk-nav-mobile">

                    <li class=" nk-drop-item">
                        <a href="@Url.Action("Forum","Forum")">
                            Forum
                        </a><ul class="dropdown">
                            <li class=" nk-drop-item">
                                <a href="@Url.Action("ForumTopics","ForumTopics")">
                                    Topics
                                </a>
                                @*<ul class="dropdown">

                                        <li>
                                            <a href="@Url.Action("Forum","Forum")">
                                                Forum
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ForumTopics","ForumTopics")">
                                                Topics
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ForumFingleTopics","ForumFingleTopics")ForumFingleTopic">
                                                Single Topic
                                            </a>
                                        </li>
                                    </ul>*@
                            </li>
                            @*<li>
                                    <a href="#">
                                        Coming Soon
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Offline
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        404

                                    </a>
                                </li>*@
                        </ul>
                    </li>
                    <li class=" nk-drop-item">
                        <a href="@Url.Action("BlogList","BlogList")">
                            Community
                        </a><ul class="dropdown">
                            <li>
                                <a href="@Url.Action("News","News")">
                                    Blogs
                                </a>
                            </li>
                            @*<li class=" nk-drop-item">
                                    <a href="#">
                                        Blog With Sidebar
                                    </a><ul class="dropdown">
                                        <li>
                                            <a href="#">
                                                Blog Grid
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Blog List
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        Blog Fullwidth
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Blog Article
                                    </a>
                                </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Gallery","Gallery")">
                            Library
                        </a>
                    </li>

                    <li class=" nk-drop-item">
                        <a href="@Url.Action("Store","Store")">
                            Store

                        </a><ul class="dropdown">

                            <li>
                                <a href="@Url.Action("Store","Store")">
                                    Store
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("StoreProduct","StoreProduct")">
                                    Product
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Catalog
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Catalog Alt

                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("StoreCheckout","StoreCheckout")">
                                    Checkout
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("StoreCart","StoreCart")">
                                    Cart
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nk-nav nk-nav-right nk-nav-icons">
                    <li class="single-icon d-lg-none">
                        <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
                            <span class="nk-icon-burger">
                                <span class="nk-t-1"></span>
                                <span class="nk-t-2"></span>
                                <span class="nk-t-3"></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END: Navbar -->

</header>
<!--
    START: Navbar Mobile

    Additional Classes:
        .nk-navbar-left-side
        .nk-navbar-right-side
        .nk-navbar-lg
        .nk-navbar-overlay-content
-->
<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
    <div class="nano">
        <div class="nano-content">
            <a href="@Url.Action("TrangChu","TrangChu")" class="nk-nav-logo">
                <img src="~/Theme/images/logo.png" alt="" width="120">
            </a>
            <div class="nk-navbar-mobile-content">
                <ul class="nk-nav">
                    <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END: Navbar Mobile -->
<!-- START: Login Modal -->
<div class="nk-modal modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0"><span class="text-main-1">Sign</span> In</h4>

                <div class="nk-gap-1"></div>
                <form action="" class="nk-form text-white">
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            Use User name and password:

                            <div class="nk-gap"></div>
                            <input type="text" value="" name="usernamesgin" class=" form-control" placeholder="User Name">

                            <div class="nk-gap"></div>
                            <input type="password" value="" name="passwordsgin" class="form-control" placeholder="Password">
                        </div>
                        <div class="col-md-6">
                            Or social account:

                            <div class="nk-gap"></div>

                            <ul class="nk-social-links-2">
                                <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                                <li><a class="nk-social-twitter" href="#"><span class="fab fa-twitter"></span></a></li>
                                <li>
                                    <a class="g_id_signin nk-social-google-plus" href="#" data-type="icon"><span class="fab fa-google-plus"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <button type="button" id="signIn" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block">Sign In</button>
                        </div>
                        <div class="col-md-6">
                            <div class="mnt-5">
                                <small><a href="#" id="forgotpassLink">Forgot your password?</a></small>
                            </div>
                            <div class="mnt-5">
                                <small><a href="#" id="signUpLink">Not a member? Sign up</a></small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END: Login Modal -->
<!-- START: Register Modal -->
<div class="nk-modal modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0"><span class="text-main-1">Sign</span> Up</h4>

                <div class="nk-gap-1"></div>
                <form action="" class="nk-form text-white">
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <label>User Name:</label>
                            <input type="text" value="" name="usernamesgup" class="form-control" placeholder="User Name">
                            <div class="nk-gap"></div>
                            <label for="password">Password:</label>
                            <input type="password" value="" name="passwordsgup" class="form-control" placeholder="Password">
                            <label for="confirmPassword">Confirm Password:</label>
                            <input type="password" value="" name="confirmPassword" class="form-control" placeholder="Confirm Password">

                        </div>
                        <div class="col-md-6">
                            <label>Full Name</label>
                            <input type="text" value="" name="fullnamesgup" class="form-control" placeholder="Full Name">
                            <div class="nk-gap"></div>
                            <label>Email:</label>
                            <input type="text" value="" name="emailsgup" class="form-control" placeholder="Email">
                            <label>Address</label>
                            <input type="text" value="" name="addresssgup" class="form-control" placeholder="Address">
                        </div>
                    </div>
                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <input type="button" id="registerButton" value="Sign Up" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END: Register Modal -->
<!-- START: Forgot pass Modal -->
<div class="nk-modal modal fade" id="modalForgotpass" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0"><span class="text-main-1">Forgot</span> Password</h4>

                <div class="nk-gap-1"></div>
                <form action="" class="nk-form text-white">
                    <div class="row vertical-gap">
                        <div class="col-md-12">
                            <label>User Name:</label>
                            <input type="text" value="" name="usernameforgot" class="form-control" placeholder="User Name">
                            <div class="form-group">
                                <label>Email:</label>
                                <div class="input-group">
                                    <input type="text" value="" name="emailforgot" class="form-control" placeholder="Email">
                                    <div class="input-group-append">
                                        <button id="sendEmailButton" class="btn btn-primary" type="button">Gửi</button>
                                    </div>
                                </div>
                            </div>
                            <label>Identification code:</label>
                            <input type="text" value="" name="codeforgot" class="form-control" placeholder="Identification code">
                            <label for="password">New Password:</label>
                            <input type="password" value="" name="passwordforgot" class="form-control" placeholder="Password">
                            <label for="confirmPassword">Confirm Password:</label>
                            <input type="password" value="" name="confirmPasswordforgot" class="form-control" placeholder="Confirm Password">
                        </div>

                    </div>
                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <input type="button" id="changePassword" value="Submit" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END: Forgot pass Modal -->
<style>

    .swal2-icon.swal2-error [class^=swal2-x-mark-line] {
        top: 0.3125rem !important;
    }
</style>

<script>
    //Gửi mã xác minh
    $(document).ready(function () {
        $('#sendEmailButton').click(function () {
            var recipientEmail = $('input[name="emailforgot"]').val();
            var username = $('input[name="usernameforgot"]').val();
            // Kiểm tra điều kiện cho từng trường
            if (recipientEmail.trim() === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    text: 'Please enter your Email.',
                });
                return;
            }
            if (username.trim() === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    text: 'Please enter your User Name.',
                });
                return;
            }
            // Gửi yêu cầu tạo và gửi mã xác minh
            $.ajax({
                url: '/Account/SendVerificationCode', // Đường dẫn xử lý request gửi mã xác minh trên máy chủ của bạn
                type: 'POST',
                data: {
                    recipientEmail: recipientEmail,
                    username: username
                },
                success: function (response) {
                    if (response.code === 200) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Thành Công.',
                            text: 'Email gửi thành công. Vui lòng kiểm tra hộp thư đến của bạn..',
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi!',
                            text: response.msg,
                        });
                    }
                },
                error: function () {
                    alert("Đã xảy ra lỗi. Vui lòng thử lại.");
                }
            });
        });
    });

    //Thay dổi mật khẩu
    $(document).ready(function () {
        $('#changePassword').click(function () {
            var recipientEmail = $('input[name="emailforgot"]').val();
            var username = $('input[name="usernameforgot"]').val();
            var code = $('input[name="codeforgot"]').val();
            var password = $('input[name="passwordforgot"]').val();
            var confirmPassword = $('input[name="confirmPasswordforgot"]').val();
            // Kiểm tra điều kiện cho từng trường
            if (recipientEmail.trim() === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Please enter your Email.',
                });
                return;
            }
            if (username.trim() === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Please enter your User Name.',
                });
                return;
            }
            if (code.trim() === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Please enter your Identification code.',
                });
                return;
            }
            if (password.trim() === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Please enter your New password.',
                });
                return;
            }
            if (confirmPassword.trim() === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Please enter your Confirm password.',
                });
                return;
            }
            if (password !== confirmPassword) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Password and Confirm Password do not match.',
                });
                return;
            }
            var data = {
                recipientEmail: recipientEmail,
                code: code,
                password: password,
            };
            $.ajax({
                url: '/Account/Changepassword',
                type: 'POST',
                data: data,
                success: function (response) {
                    if (response.code === 200) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Password has been changed.',
                        }).then(function (result) {
                            if (result.isConfirmed) {
                                $('#modalForgotpass').modal('hide');
                                $('#modalLogin').modal('show');
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: response.msg,
                        });
                    }
                },
                error: function () {
                    alert("Đã xảy ra lỗi. Vui lòng thử lại.");
                }
            });
        });
    });

    //Báo lỗi
    function error(errorMessage) {
        Swal.fire({
            icon: 'error',
            title: 'Error!',
            html: errorMessage,
            showCloseButton: true,
            showConfirmButton: true,
            confirmButtonText: 'OK',
        });
    }

    document.getElementById("signUpLink").addEventListener("click", function (event) {
        event.preventDefault();
        $('#modalLogin').modal('hide');
        $('#modalSignUp').modal('show');
    });

    document.getElementById("forgotpassLink").addEventListener("click", function (event) {
        event.preventDefault();
        $('#modalLogin').modal('hide');
        $('#modalForgotpass').modal('show');
    });
    //Đăng Nhập
    $(document).ready(function () {
        $('#signIn').click(function () {
            var username = $('input[name="usernamesgin"]').val();
            var password = $('input[name="passwordsgin"]').val();

            // Kiểm tra điều kiện cho từng trường
            if (username.trim() === '') {
                error("Please enter your username.")
                return;
            }
            if (password.trim() === '') {
                error("Please enter your password.");
                return;
            }
            var data = {
                username: username,
                password: password,
            };
            $.ajax({
                url: '/Account/CheckLogin', // Đường dẫn xử lý request lưu vào cơ sở dữ liệu
                type: 'get',
                data: data,
                success: function (response) {
                    if (response.code === 200) {
                        // Xử lý sau khi thành công
                        login();
                    } else {
                        error(response.msg)
                    }
                },
                error: function () {
                    error("An error occurred. Please try again.");
                }
            });
        })
    });

    //Đăng ký
    $(document).ready(function () {
        $('#registerButton').click(function () {

            // Lấy giá trị từ các ô input
            var username = $('input[name="usernamesgup"]').val();
            var password = $('input[name="passwordsgup"]').val();
            var confirmPassword = $('input[name="confirmPassword"]').val();
            var email = $('input[name="emailsgup"]').val();
            var fullname = $('input[name="fullnamesgup"]').val();
            var address = $('input[name="addresssgup"]').val();

            // Kiểm tra điều kiện cho từng trường
            if (username.trim() === '') {
                error("Please enter your username.")
                return;
            }
            if (address.trim() === '') {
                error("Please enter your username.");
                return;
            }
            if (fullname.trim() === '') {
                error("Please enter your fullname.");
                return;
            }

            if (password.trim() === '') {
                error("Please enter your password.");
                return;
            }

            if (confirmPassword.trim() === '') {
                error("Please enter your confirm password.");
                return;
            }

            if (password !== confirmPassword) {
                error("Password and Confirm Password do not match.");
                return;
            }

            if (email.trim() === '') {
                error("Please enter your email.");
                return;
            }

            // Gửi dữ liệu lên server
            var data = {
                username: username,
                password: password,
                email: email,
                fullname: fullname,
                address: address
            };

            $.ajax({
                url: '/Account/Register', // Đường dẫn xử lý request lưu vào cơ sở dữ liệu
                type: 'POST',
                data: data,
                success: function (response) {
                    if (response.code === 200) {
                        // Xử lý sau khi thành công
                        login();
                    } else {
                        error(response.msg)
                    }
                },
                error: function () {
                    alert("An error occurred. Please try again.");
                }
            });
        });
    });

</script>
