@model GameStore.Models.DTO.Games
@using GameStore.Models.DAO
@using GameStore.Models

@{
    KHACHHANG kh = (KHACHHANG)Session["KhachHang"];
    ViewBag.Title = "GameDetail";
    Layout = "~/Views/Shared/_LayoutStore2Side.cshtml";
}


<div class="nk-store-product">
    <div class="row vertical-gap">
        <div class="col-md-6">
            <!-- START: Product Photos -->
            <div class="nk-popup-gallery">
                <div class="nk-gallery-item-box">
                    <a href="~/Theme/images/ImageResource/@Model.ImgName" class="nk-gallery-item" data-size="1200x554">
                        <div class="nk-gallery-item-overlay">
                            <span class="ion-eye"></span>
                        </div>
                        <img src="~/Theme/images/ImageResource/@Model.ImgName" alt="">
                    </a>
                </div>

                <div class="nk-gap-1"></div>

            </div>
            <!-- END: Product Photos -->
        </div>
        <div class="col-md-6">
            <h2 class="nk-product-title h3" id="@Model.Id">@Model.Name </h2>
            <div class="nk-product-description">


                <!-- START: Meta -->
                <div class="nk-product-meta">
                    @*<div><strong>SKU</strong>: 300-200-503</div>*@
                    <div>
                        <strong>Categories</strong>:
                        @{
                            foreach (string item in Model.TypeGame)
                            {
                                <a href="#">@item</a>
                            }
                        }
                    </div>
                    <div class="nk-gap"></div>
                    <div>
                        <strong>Tags</strong>:
                        @{
                            foreach (string item in Model.TagGame)
                            {
                                <a href="#">@item</a>
                            }
                        }
                    </div>
                    <div class="nk-gap"></div>
                    <div>
                        <strong>Game Makers</strong>:
                        @{
                            foreach (string item in Model.DevsGame)
                            {
                                <a href="#">@item</a>
                            }
                        }
                    </div>
                    <div class="nk-gap"></div>
                    <div>
                        <strong>Publisher</strong>:
                        @{
                            foreach (string item in Model.Publisher)
                            {
                                <a href="#">@item</a>
                            }
                        }
                    </div>
                </div>
                <!-- END: Meta -->
                <p>
                    @*@Html.Raw(@Model.AttGame.ToString().Replace("\n", "<br>"))*@
                </p>
            </div>

            <!-- START: Add to Cart -->
            <div class="nk-gap-2"></div>
            <form action="#" class="nk-product-addtocart">
                <div class="nk-product-price">@Model.PriceGame .00 $</div>
                <div class="nk-gap-1"></div>
                <div class="input-group">

                    <a href="@Url.Action("AddToCart","StoreCart", new {gameId = Model.Id,gameName =Model.Name,imgName=Model.ImgName, priceGame=Model.PriceGame, url = Request.Url.ToString()})" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
                </div>
            </form>
            <div class="nk-gap-3"></div>
            <!-- END: Add to Cart -->

        </div>
    </div>

    <!-- START: Share -->
    <div class="nk-gap-2"></div>
    <div class="nk-post-share">
        <span class="h5">Share Product:</span>
        <ul class="nk-social-links-2">
            <li>
                <span class="nk-social-facebook" title="Share page on Facebook" data-share="facebook"><span class="fab fa-facebook"></span></span>
            </li>
            <li>
                <span class="nk-social-google-plus" title="Share page on Google+" data-share="google-plus"><span class="fab fa-google-plus"></span></span>
            </li>
            <li>
                <span class="nk-social-twitter" title="Share page on Twitter" data-share="twitter"><span class="fab fa-twitter"></span></span>
            </li>
            <li>
                <span class="nk-social-pinterest" title="Share page on Pinterest" data-share="pinterest"><span class="fab fa-pinterest-p"></span></span>
            </li>

            <!-- Additional Share Buttons
            <li><span class="nk-social-linkedin" title="Share page on LinkedIn" data-share="linkedin"><span class="fab fa-linkedin"></span></span></li>
            <li><span class="nk-social-vk" title="Share page on VK" data-share="vk"><span class="fab fa-vk"></span></span></li>
        -->
        </ul>
    </div>
    <!-- END: Share -->

    <div class="nk-gap-2"></div>



    <!-- START: Tabs -->
    <div class="nk-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#tab-description" role="tab" data-toggle="tab">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab-reviews" role="tab" data-toggle="tab">Reviews</a>
            </li>
        </ul>

        <div class="tab-content">

            <!-- START: Tab Description -->
            <div role="tabpanel" class="tab-pane fade show active" id="tab-description">
                <div class="nk-gap"></div>
                <strong class="text-white">Release Year: @Model.YearRelease</strong>
                <div class="nk-gap"></div>
                <p>
                    @Html.Raw(@Model.DesGame.ToString().Replace("\n", "<br>"))

                </p>

                <div class="nk-product-info-row row vertical-gap">
                    <div class="col-md-5">
                        <div class="nk-product-pegi">
                            <div class="nk-gap"></div>
                            <img src="~/Theme/images/ImageResource/@Model.ImgName" alt="">
                            <div class="nk-product-pegi-cont">
                                <strong class="text-white">Pegi Rating:</strong>
                                <div class="nk-gap"></div>
                                Suitable for people aged 12 and over.
                            </div>
                            <div class="nk-gap"></div>
                        </div>
                    </div>
                    <div class="col-md-3" style=" max-width: 20%;">
                        <div class="nk-gap"></div>
                        <strong class="text-white">Genre:</strong>
                        <div class="nk-gap"></div>
                        @Model.TypeGame[0]
                        <div class="nk-gap"></div>

                    </div>
                    <div class="col-md-4" style="flex: 0 0 37.333333%; max-width: 37.333333%;">
                        <div class="nk-gap"></div>
                        <strong class="text-white">Customer Rating: @Model.AverageRating</strong>
                        <div class="nk-gap"></div>
                        <div class="nk-product-rating" data-rating="@Model.AverageRating">
                            @{
                                float du = Model.AverageRating % (int)Model.AverageRating;

                                for (int i = 0; i < 10; i = i + 1)
                                {
                                    if (i < (int)@Model.AverageRating)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                    else if (i < @Model.AverageRating)
                                    {
                                        if (du > 0.25f)
                                        {
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                        }
                                        else if (du > 0.75f)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                        else
                                        {
                                            <i class="far fa-star"></i>
                                        }

                                    }
                                    else
                                    {
                                        <i class="far fa-star"></i>
                                    }

                                }
                            }


                        </div>
                        <div class="nk-gap"></div>
                    </div>
                </div>
            </div>
            <!-- END: Tab Description -->
            <!-- START: Tab Reviews -->
            <div role="tabpanel" class="tab-pane fade" id="tab-reviews">
                <div class="nk-gap-2"></div>
                <!-- START: Reply -->
                <h3 class="h4">Add a Review</h3>
                <div class="nk-reply">
                    <form action="#" class="nk-form">
                        @{

                            if (kh != null)
                            {
                                <div class="row vertical-gap sm-gap">
                                    <div class="col-sm-6">
                                        <div class="nk-comment-meta">
                                            <img src="@kh.Avatar" alt="Witch Murder" class="rounded-circle" width="35"> by
                                            <a href="#">@kh.HoTen</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-gap-1"></div>
                                <textarea class="form-control required" name="message" rows="5" placeholder="Your Review" aria-required="true"></textarea>
                                <div class="nk-gap-1"></div>
                                <div class="nk-rating">
                                    <input type="radio" id="review-rate-10" name="review-rate" value="10">
                                    <label for="review-rate-10">
                                        <span><i class="far fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </label>

                                    <input type="radio" id="review-rate-9" name="review-rate" value="9">
                                    <label for="review-rate-9">
                                        <span><i class="far fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </label>

                                    <input type="radio" id="review-rate-8" name="review-rate" value="8">
                                    <label for="review-rate-8">
                                        <span><i class="far fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </label>

                                    <input type="radio" id="review-rate-7" name="review-rate" value="7">
                                    <label for="review-rate-7">
                                        <span><i class="far fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </label>

                                    <input type="radio" id="review-rate-6" name="review-rate" value="6">
                                    <label for="review-rate-6">
                                        <span><i class="far fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </label>
                                    <input type="radio" id="review-rate-5" name="review-rate" value="5">
                                    <label for="review-rate-5">
                                        <span><i class="far fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </label>
                                    <input type="radio" id="review-rate-4" name="review-rate" value="4">
                                    <label for="review-rate-4">
                                        <span><i class="far fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </label>
                                    <input type="radio" id="review-rate-3" name="review-rate" value="3">
                                    <label for="review-rate-3">
                                        <span><i class="far fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </label>
                                    <input type="radio" id="review-rate-2" name="review-rate" value="2">
                                    <label for="review-rate-2">
                                        <span><i class="far fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </label>
                                    <input type="radio" id="review-rate-1" name="review-rate" value="1">
                                    <label for="review-rate-1">
                                        <span><i class="far fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                    </label>
                                </div>

                                <button id="submitBtn" type="button" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 float-right">Submit</button>

                            }
                            else
                            {
                                <p>
                                    <a href="#">Login Require </a>To Review This Game
                                </p>
                            }

                        }


                        @*<div class="col-sm-6">
            <input type="text" class="form-control required" name="title" placeholder="Title *">
        </div>*@



                    </form>
                </div>
                <!-- END: Reply -->

                <div class="clearfix"></div>
                <div class="nk-gap-2"></div>
                <div class="nk-comments" id="CommentList">
                    @{
                        foreach (var item in Model.ListComment)
                        {


                            <div class="nk-comment">
                                                    <div class="nk-comment-meta">
                                                        <img src="@item.Avatar" alt="@item.IdKhachHang" class="rounded-circle" width="35"> by <a href="#"> @item.TenKH</a> @item.DateModified
                                                        <div class="nk-review-rating" data-rating="@item.Rating">
                                                            @{
                                                                for (int i = 0; i < 10; i++)
                                                                {
                                                                    if (i < @item.Rating)
                                                                    {
                                                                        <i class="fa fa-star"></i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="far fa-star"></i>
                                                                    }
                                                                }
                                                            }

                                                        </div>
                                                    </div>
                                <div class="nk-comment-text">
                                    <p>@item.Content</p>

                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
            <!-- END: Tab Reviews -->

        </div>
    </div>
    <!-- END: Tabs -->
</div>
<div class="nk-gap-3"></div>
<div class="nk-gap"></div>
@Html.Raw(Model.RequireGame)
<!-- START: Related Products -->
<div class="nk-gap-3"></div>
<h3 class="nk-decorated-h-2">
<span><span class="text-main-1">Related</span> Products</span></h3>
<div class="nk-gap"></div>
<div class="row vertical-gap">
    @{

        var listRelate = GamesDAO.Instance.LoadGameRelate(Model.TypeGame[0]);
        foreach (var relate in listRelate)
        {
            <div class="col-md-6">
                <div class="nk-product-cat">
                    <a class="nk-product-image" href="@Url.Action("GameDetail", "Store", new { id = relate.Id })">
                        <img src="~/Theme/images/ImageResource/@relate.ImgName" alt="@relate.ImgName">
                    </a>
                    <div class="nk-product-cont">
                        <h3 class="nk-product-title h5">
                            <a href="@Url.Action("GameDetail", "Store", new { id = relate.Id })">@relate.Name</a>
                        </h3>
                        <div class="nk-gap-1"></div>
                        <div class="nk-product-rating" data-rating="5">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="nk-gap-1"></div>
                        <div class="nk-product-price">@relate.PriceGame .00 $</div>
                    </div>
                </div>
            </div>
        }



}


</div>
<!-- END: Related Products -->

<div id="commentTemplate" style="display: none;">
    <div class="nk-comment">
        <div class="nk-comment-meta">
            @{
                if (kh != null)
                {
                    <img src="@kh.Avatar" alt="@kh.HoTen" class="rounded-circle" width="35"><a> by</a>
                    <a href="#" class="author" name="author">@kh.HoTen</a> <a>@DateTime.Now.ToString()</a>
                }
                else
                {
                    <img src="~/Theme/images/avatar-2.jpg" alt="" class="rounded-circle" width="35"><a> by</a>
                    <a href="#" class="author"></a>
                }
            }
            <div id="rating-of-comment" class="nk-review-rating" data-rating="">

            </div>
        </div>
        <div class="nk-comment-text" name="">
            <p>Upon replenish great rule. Were tree, given day him night Fruit it moveth all. First they're creature seasons and creature fill a it have fifth, their own subdue brought above divided.</p>

            <p>Behold it set, seas seas and meat divided Moveth cattle forth evening above moveth so, signs god a fruitful his after called that whose.</p>
        </div>
    </div>
</div>

<script>
    $('#submitBtn').click(function (event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của nút Submit
        var name = '';
        var idkh = -1;
        var kh = sessionStorage.getItem('KhachHang');
        // Thu thập dữ liệu từ các trường input và textarea
        if (kh != null) {
            name = kh.HoTen;
            idkh = kh.MaKH;
        } else {
            name = $('input[name="author"]').val();
        }

        var gameId = parseInt($('.nk-product-title.h3').attr('id'));

        var message = $('textarea[name="message"]').val();
        var rating = $('input[name="review-rate"]:checked').val();

        // Tạo đối tượng dữ liệu để gửi lên server
        var data = {
            Name: name,
            Idkh: idkh,
            GameId: gameId,
            Message: message,
            Rating: rating
        };

        $.ajax({
            url: '/StoreProduct/ReviewGame', // Đường dẫn đến Action trong Controller để xử lý yêu cầu
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (response) {
                var ratingValue = document.querySelector('input[name="review-rate"]:checked').value;
                $('#rating-of-comment').empty();

                // Thêm 10 sao vào ratingDiv
                for (var i = 0; i < 10; i++) {
                    if (i < ratingValue) {
                        $('#rating-of-comment').append('<i class="fa fa-star"></i>');
                    } else {
                        $('#rating-of-comment').append('<i class="far fa-star"></i>');
                    }

                }
                // Thêm một sao trống vào cuối cùng


                // Tạo một div mới cho comment
                var commentTemplate = $('#commentTemplate').html();
                var newComment = $('<div></div>').html(commentTemplate);
                newComment.find('.nk-comment-text').text(message);

                // Thêm comment mới vào đầu danh sách
                $('#CommentList').prepend(newComment);

                console.log(response);
                // Thực hiện các thao tác tiếp theo sau khi thêm dữ liệu thành công
            },
            error: function (xhr, textStatus, errorThrown) {
                // Xử lý lỗi khi thêm dữ liệu không thành công
                console.log(textStatus);
                // Hiển thị thông báo lỗi hoặc thực hiện các xử lý khác theo ý muốn
            }
        });
    });

</script>
