@model IEnumerable<GameStore.Models.KEYGAME>

@{
    ViewBag.Title = "StoreCheckout1";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>StoreCheckout1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_KH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyGames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameGame)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_KH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeyGames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameGame)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
